body {
    background: rebeccapurple;
    margin: 0;
}

.cats {
    border: 10px solid darkorange;
    border-radius: 25px;
    transition: all 0.5s;
}

.cats-list {
    float: left;
    width: 30%;
    text-align: center;
}

.cat-wrapper {
    background: darkblue;
}

.cat-clicker {
    float: left;
    text-align: center;
    width: 70%;
}

.cat-list-title {
    text-align: center;
    font-family: Roboto;
}

.instruction {
    padding-bottom: 50px;
}

.clicks-number,
.title,
.instruction {
    text-align: center;
    font-family: Roboto;
}

.title {
    padding-top: 50px;
    margin-top: 0;
    font-weight: bold;
    color: darkorange;
}

.list,
.cat-list-title,
.cat-name,
.clicks,
.instruction {
    color: white;
    font-size: 20px;
    font-family: Roboto;
}

.list:hover {
    color: darkorange;
    cursor: pointer;
}

.cat-list-title {
    color: darkblue;
    text-transform: uppercase;
    font-weight: bold;
}