body {
    background: rebeccapurple;
}

.cat-img-two,
.cat-img-one {
    border: 10px solid darkorange;
    border-radius: 25px;
    transition: all 0.5s;
}

.first-cat,
.second-cat {
    float: left;
    width: 50%;
    text-align: center;
}

.clicks-number,
.title,
.instruction {
    text-align: center;
    font-family: Roboto;
}

.title {
    margin-top: 50px;
    font-weight: bold;
    color: darkorange;
}

.first-name,
.second-name,
.clicks-number-one,
.clicks-number-two,
.instruction {
    color: white;
    font-size: 20px;
    font-family: Roboto;
}
